body {
    font-family: Arial, Helvetica, sans-serif;
}
#searchInput {
    width: 320px;
    height: 35px;
    display: inline-block;
}
legend {
    width: 250px;
    margin-bottom: 0;
}
fieldset {
    border: 3px solid #fff;
    border-radius: 5px;
    max-width: 500px !important;
}
.movie {
    border: 1px solid #fff;
    border-radius: 5px;
}
@media(max-width: 575.98px){
 .movie {
     width: 100%;
 }
}